header{
    width: 100%;
    background-color: var(--dark-blue);
    box-shadow: 3px 3px 3px rgba($color:#0000, $alpha:0.2);


    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        position: relative;
        z-index:999;
        width: 100%;
        img{
            max-width: 15rem;
        }

      .nav-text{
        padding-right: 20px;
        font-size: 20px;
        color: #fff;
        justify-content: space-between;
        align-items: center;

        @media (max-width:767px) {
            display: none;
            
            // &.active{
            //     display: flex;
            //     flex-direction: column;
            //     position: absolute;
            //     width: 100%;
            //     max-width: 100%;
            //     z-index:999;
            //     background-color: var(--dark-blue);
            //     height: 30vh;
            //     margin:auto;
            //     left:0;
            //     padding: 2rem 0;
            //     top:7rem;
            // }
        }
        

        .icon-color{
            font-weight: 500;
            color: #00b2ce;
        }
      }  

    }
}